# Ignorer le fichier .env
.env

# Ignorer d'autres fichiers sensibles
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignorer les fichiers de sauvegarde
/static/user_files/*
/static/pdf_preview/*
/flask_session/*
/static/user_data.json

# Ignorer les fichiers temporaires
/tmp/*
.DS_Store
*.log
*.swp
*.swo
*.bak
*.tmp
*.pid
*.seed
*.pid.lock
*.sqlite3
*.sqlite 
__pycache__/
static/.DS_Store
templates/.DS_Store