@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    overflow: hidden;
}

body {
    --_mesh-gradient-blur: 0px;
    --_mesh-gradient-blend-mode: normal;
    
    background: radial-gradient(at 1.8640350877192982% 93.14285714285714%, #bff2bb 0px, transparent 50%), radial-gradient(at 97.25877192982456% 5.333333333333334%, #dbfffc 0px, transparent 50%), radial-gradient(at 87.82894736842105% 91.42857142857143%, #e1a3da 0px, transparent 50%), radial-gradient(at 5% 2%, #ffe8c7 0px, transparent 50%) #ffffff;
    mix-blend-mode: var(--_mesh-gradient-blend-mode);
    filter: blur(var(--_mesh-gradient-blur));

    background-repeat: no-repeat;

    background-position: 0% 0%, 100% 0%, 100% 100%, 0% 100%;
    animation: animate-background-rotation 10s infinite linear;
}

@keyframes animate-background-rotation {
    0% {
        background-position: 0% 0%, 100% 0%, 100% 100%, 0% 100%;
    }
    100% {
        background-position: 200% 200%, -100% 200%, -100% -100%, 200% -100%;
    }
}

main {
    height: 100%;
    background-color: #e9e9e9b8;
    width: 100%;
}

.main-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 25px;
}

header {
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-template-rows: 35px 1fr;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

header .return_button {
    display: flex;
    align-items: center;
    width: 120px;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #e2e2e2;
}

header .return_button img {
    width: 25px;
    height: 25px;
}

header .return_button .return_button_text {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

header .return_button:hover {
    background-color: #ccc;
}

header .title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

header .preview_container {
    width: 120px;
    height: auto;
    border-radius: 0px;
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

header .preview_container:hover {
    filter: brightness(0.8);
}

header .preview_container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin: 0;
}

.quizz_main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.quizz_main_container .quizz_container {
    width: 100%;
    max-width: 900px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quizz_main_container .quizz_container .quizz_main_infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.quizz_main_container .quizz_container .quizz_main_infos .quizz_title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
}

.quizz_main_container .quizz_container .quizz_main_infos .quizz_attemp_info {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #999;
}

.quizz_main_container .quizz_container .quizz_main_infos .quizz_button_container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.quizz_main_container .quizz_container .quizz_main_infos .quizz_button_container .quizz_button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

.quizz_main_container .quizz_container .quizz_main_infos .quizz_button_container .quizz_button img{
    width: 100%;
    padding: 3px;
}

.quizz_main_container .quizz_container .quizz_main_infos .quizz_button_container .quizz_button:hover {
    background-color: #e7b8e3;
    border-radius: 50%;
}

.quizz_show_button img {
    transform: rotate(-90deg);
}

.quizz_show_button.active {
    background-color: #e7b8e3;
}

.quizz_show_button.active img {
    transform: rotate(90deg);
}

.generate-button {
    margin-top: 50px;
    width: 208px;
    padding: 15px 20px;
    background-color: #e7b8e3;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    height: 51px;
}

.generate-button .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-top: 2px solid #e7b8e3;
    border-radius: 50%;
    animation: animate-loader 1s linear infinite;
}

@keyframes animate-loader {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.generate-button:hover {
    background-color: #d9a1d0;
    color: white;
}

.generate-button.active {
    animation: animate-background-shinner 1s infinite linear;
}

@keyframes animate-background-shinner {
    0% {
        background-color: #f1ccee;
    }
    50% {
        background-color: #d9a1d0;
    }
    100% {
        background-color: #f1ccee;
    }
}

.generate-button.error {
    animation: error-pulse 0.5s 5;
}

@keyframes error-pulse {
    0% {
        transform: scale(1);
        background-color: #ffa0a0;
    }
    50% {
        transform: scale(1.01);
        background-color: #ff8181;
    }
    100% {
        transform: scale(1);
        background-color: #ffa0a0;
    }
}

.quizz_attempts {
    border-top: 1px solid #ccc;
    margin-top: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
    touch-action: none;
}

.quizz_attempts.active {
    height: auto;
    opacity: 1;
    margin-top: 20px;
    padding: 20px 0;
    transition: all 0.3s;

}

.quizz_attempts .attemp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.quizz_attempts .attemp .score {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    background-color: #999;
    width: 100px;
    text-align: center;
}

.quizz_attempts .attemp .attempt_check_button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background-color: #f3e6f2;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.quizz_attempts .attemp .attempt_check_button:hover {
    background-color: #e7b8e3;
}

.quizz_attempts .attemp .attempt_check_button img {
    width: 25px;
    height: 25px;
}