<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz - </title>
    <link rel="stylesheet" href="/static/css/attempt-style.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="error_message">
                        <div class="text">{{ message }}</div>
                        <div class="progress_bar">
                            <div class="progress"></div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <main>
        <div class="main_container">
            <div class="question_main_container">
                <div class="return_button" id="return_button" data-quizz_id="{{data.id}}">
                    <img src="/static/icons/icons8-go-back-50.png" alt="return-button">
                    <div class="return_button_text">Retour</div>
                </div>
                <div class="score">
                    <div class="num">{{data.score}}/</div> 
                    <div class="denom">{{data.questions|length}}</div>
                    <div class="date">
                        Fait le {{data.date}}
                    </div>
                </div>
                <div class="quizz_infos">
                    <div class="quizz_title">{{data.title}}</div>
                    <div class="quizz_type">Type de quizz : {{data.type}}</div>
                    <div class="quizz_notation">Notation : {{data.notation}}</div>
                </div>
                {% for quest in data.questions %}
                {% set quest_index = loop.index0 %}
                <div class="question_container" style="background-color: {{data.color}};" id="question_{{loop.index}}">
                    <div class="question_title">Question {{loop.index}}</div>
                    <div class="question_content">{{quest.question}}</div>
                    {% set type_of_quizz = "unique" %}
                    {% if quest.correct|length > 1 %}
                    {% set type_of_quizz = "multiple" %}
                    {% endif %}
                    <div class="question_instruction">
                        {% if type_of_quizz == "unique" %}
                        Veuillez choisir une réponse :
                        {% else %}
                        Veuillez choisir une ou plusieurs réponses :
                        {% endif %}
                    </div>
                    {% if data.answers[quest_index] == [] %}
                        <div class="no_choice">
                            Vous n'avez pas répondu à cette question
                        </div>
                    {% endif %}
                    <div class="question_choices">
                        {% for choice in quest.answers %}
                            {% set wrong = "" %}
                            {% if loop.index0 in data.answers[quest_index] %}
                            {% set wrong = "incorrect" %}
                            {% endif %}
                            {% set correct = "" %}
                            {% if choice in quest.correct %}
                            {% set correct = "correct" %}
                            {% endif %}
                            {% if loop.index0 in data.answers[quest_index] and choice in quest.correct %}
                            {% set correct = "correct_user" %}
                            {% endif %}
                            <div class="choice_content {{wrong}} {{correct}}">{{choice}}</div>
                        {% endfor %}
                    </div>
                    <div class="explanation">
                        {% if quest.explanation %}
                        <div class="explanation_title">Explications</div>
                        <div class="explanation_text">{{quest.explanation}}</div>
                        <div class="explanation_source" data-page="{{quest.sources[0].page}}" data-source="{{quest.sources[0].source}}" data-doc="{{data.doc_url}}">Voir le cours</div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="try_again_button" id="try_again_button" data-id="{{data.id}}" data-quizz_id="{{data.version_id}}">
                    Essayer à nouveau
                </div>
            </div>
            <div class="progress_main_container">
                <div class="title">Progression</div>
                <div class="progress_container">
                    {% for quest in data.questions %}
                    {% set type = "" %}
                    {% if loop.index0 in data.correct_answers_index %}
                        {% set type = "correct" %}
                    {% else %}
                        {% set type = "incorrect" %}
                    {% endif %}
                    <div class="progress_item {{type}}" data-quest="{{loop.index}}">
                        <div class="progress_item_content">{{loop.index}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>            
    </main>
    <script src="/static/js/attempt.js"></script>
</body>
</html>