<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz - Accueil</title>
    <link rel="icon" href="/static/icons/app-main-logo.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/icons/app-main-logo.ico">
    <link rel="stylesheet" href="/static/css/home-style.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="error_message">
                        <div class="text">{{ message }}</div>
                        <div class="progress_bar">
                            <div class="progress"></div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <main>
        <div class="lateral-menu">
            <div class="app-title">
                <img src="/static/icons/app-main-logo.png" alt="logo">
                <div class="title">Quizz</div>
            </div>
            <div class="creation-button">
                <a id="create-button" href="/create/1">Créer</a>
            </div>
            <div class="menu-container">
                {% macro render_folder(folder) %}
                    {% if folder.id in path %}
                    {% set open = "active" %}
                    {% set display = "display:block;" %}
                    {% set arrow = "▲" %}
                    {% else %}
                    {% set open = "" %}
                    {% set display = "display: none;" %}
                    {% set arrow = "▼" %}
                    {% endif %}
                    <div class="folder">
                        <div class="content {{open}}" data-id="{{folder.id}}">
                            {% if folder.name == "Home" %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="{{ folder.color }}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M3 12l9-8 9 8v8a2 2 0 0 1-2 2h-3v-6h-8v6H5a2 2 0 0 1-2-2v-8z" fill="{{ folder.color }}"/>
                            </svg>                          
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="{{ folder.color }}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M3 6c0-1.1.9-2 2-2h5l2 2h9c1.1 0 2 .9 2 2v10c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2V6z" fill="{{ folder.color }}"/>
                            </svg>
                            {% endif %}
                            <div class="text" data-redirect-url="">{{ folder.name }}</div>
                            {% if folder.folders %}
                                <button class="toggle-button">{{arrow}}</button>
                            {% endif %}
                        </div>
                        {% if folder.folders %}
                            <div class="subfolder" style="{{display}}">
                                {% for subfolder in folder.folders %}
                                    {{ render_folder(subfolder) }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endmacro %}    
                {{ render_folder(folder_data) }} 
            </div> 
            <div class="action-button" id="report-button">
                <img src="/static/icons/icons8-bug-50.png" alt="update">
                <div class="text">Signaler un bug</div>
            </div> 
            <div class="action-button" id="update-button">
                <img src="/static/icons/icons8-update-file-48.png" alt="update">
                <div class="text">Dernières mises à jour</div>
            </div>   
        </div>
        <div class="main-container">
            <header>
                <div class="title">Vos quizz</div>
                <div class="disconnect-button">
                    <a href="/stop">
                        <img src="/static/icons/icons8-disconnect-60.png">
                    </a>
                </div>
            </header>
            <div class="path">
                {% for folder in path_info %}
                    <div class="path-item" style="background-color: {{folder.color}}2b;" data-folder_id="{{folder.id}}">
                        {{ folder.name }}
                    </div>
                    {% if not loop.last %}
                    <img src="/static/icons/icons8-forward-50.png" class="path-arrow" alt="arrow">
                    {% endif %}
                {% endfor %}
            </div>
            {% if current_folder.folders %}
            <p class="subtitle">Dossiers</p>
            <div class="folders-container">
                {% for folder in current_folder.folders %}
                    <div class="folder-container" style="background-color: {{folder.color}};" data-id="{{folder.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M3 6c0-1.1.9-2 2-2h5l2 2h9c1.1 0 2 .9 2 2v10c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2V6z" fill="#333"/>
                        </svg>
                        <div class="folder-title">{{folder.name}}</div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            <p class="subtitle">Quizz</p>
            <div class="quizzes-container">
                {% for quizz in data %}
                {% if quizz.to_highlight == True %}
                {% set class_to_add = "pulse" %}
                {% else %}
                {% set class_to_add = "" %}
                {% endif %}
                {% if quizz.id|int in current_folder.quizzes %}
                <div class="quizz-container {{class_to_add}}" data-id="{{quizz.id}}">
                    <div class="option_container" data-id="{{quizz.id}}">
                        <img src="/static/icons/icons8-menu-vertical-60.png" alt="menu">
                    </div>
                    <div class="illustration-container" style="background-color: {{quizz.color}};">
                        <div class="document-preview">
                            <img src="{{quizz.preview_path}}" alt="document-preview">    
                        </div>
                        <div class="emoji">
                            {{quizz.emoji}}
                        ​</div>
                    </div>
                    <div class="quizz-title">{{quizz.title}}</div>
                    <div class="quizz-description">
                        <div class="quizz-item">
                            <img src="/static/icons/icons8-test-50.png" alt="attemps">
                            <div><strong>{{quizz.last_attempt}}</strong>/{{quizz.size}}</div>
                        </div>
                        <div class="quizz-item">
                            <img src="/static/icons/icons8-count-50.png" alt="time">
                            <div>{{quizz.quizz_amount}}</div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% if current_folder.quizzes|length == 0 %}
                <div class="empty-container">
                    <img src="/static/icons/icons8-sad-100.png" alt="empty-box">
                    <div class="empty-message">Vous n'avez pas encore de quizz</div>
                </div>
                {% endif %}
        </div>
    </main>
    <div class="create-popup" id="create-popup">
        <div class="return_button" id="return_button">
            <img src="/static/icons/icons8-go-back-50.png" alt="return-button">
            <div class="return_button_text">Retour</div>
        </div>
        <h1>Que voulez vous faire ?</h1>
        <div class="choices-container">
            <div class="choice-container" data-url="/create/1/{{id_folder}}">
                <img src="/static/imgs/quizz-creation.png" alt="creation">
                <p>Création d'un quizz à partir d'un cours</p>
            </div>
            <div class="choice-container" data-url="/extract/1/{{id_folder}}">
                <img src="/static/imgs/quizz-extraction.png" alt="extraction">
                <p>Extraction d'un quizz depuis une annale</p>
            </div>
        </div>
    </div>
    <div class="create-folder-popup" id="create-folder-popup">
        <div class="return_button" id="return_button_folder">
            <img src="/static/icons/icons8-go-back-50.png" alt="return-button">
            <div class="return_button_text">Retour</div>
        </div>
        <h1>Créer un dossier</h1>
        <form action="/create_folder/{{id_folder}}" method="POST">
            <input type="text" name="folder_name" placeholder="Nom du dossier" required>
            <div class="color-container">
                <div>
                    <input type="radio" id="color1" name="folder_color" value="#FFB3BA" required checked>
                    <label for="color1">
                        <span class="color-circle" style="background-color: #FFB3BA;"></span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="color2" name="folder_color" value="#FFDFBA" required>
                    <label for="color2">
                        <span class="color-circle" style="background-color: #FFDFBA;"></span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="color3" name="folder_color" value="#FFFFBA" required>
                    <label for="color3">
                        <span class="color-circle" style="background-color: #FFFFBA;"></span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="color4" name="folder_color" value="#BAFFC9" required>
                    <label for="color4">
                        <span class="color-circle" style="background-color: #BAFFC9;"></span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="color5" name="folder_color" value="#BAE1FF" required>
                    <label for="color5">
                        <span class="color-circle" style="background-color: #BAE1FF;"></span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="color6" name="folder_color" value="#D5BAFF" required>
                    <label for="color6">
                        <span class="color-circle" style="background-color: #D5BAFF;"></span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="color7" name="folder_color" value="#FFB3E6" required>
                    <label for="color7">
                        <span class="color-circle" style="background-color: #FFB3E6;"></span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="color8" name="folder_color" value="#FFDAC1" required>
                    <label for="color8">
                        <span class="color-circle" style="background-color: #FFDAC1;"></span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="color9" name="folder_color" value="#E2F0CB" required>
                    <label for="color9">
                        <span class="color-circle" style="background-color: #E2F0CB;"></span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="color10" name="folder_color" value="#B2F0E6" required>
                    <label for="color10">
                        <span class="color-circle" style="background-color: #B2F0E6;"></span>
                    </label>
                </div>
            </div>
            <input type="submit" value="Créer">
        </form>
    </div>
    <div class="choice-type-container">
        <div class="choice-type" id="create_quizz">
            <img src="/static/icons/icons8-question-50.png" alt="">
            <div class="text">Créer un quizz</div>
        </div>
        <div class="choice-type" id="create_folder">
            <img src="/static/icons/icons8-folder-50.png" alt="">
            <div class="text">Créer un dossier</div>
        </div>
    </div>

    <div class="choice-quizz-container">
        <div class="choice-quizz" id="modify_quizz">
            <img src="/static/icons/icons8-modify-60.png" alt="">
            <div class="text">Modifier le quizz</div>
        </div>
        <div class="choice-quizz" id="delete_quizz">
            <img src="/static/icons/icons8-delete-48.png" alt="">
            <div class="text">Supprimer le quizz</div>
        </div>
    </div>

    <div class="modify-quizz-popup" id="modify-quizz-popup">
        <div class="return_button" id="return_button_modify_quizz">
            <img src="/static/icons/icons8-go-back-50.png" alt="return-button">
            <div class="return_button_text">Retour</div>
        </div>
        <h1>Modifier le quizz</h1>
        <form action="/modify_quizz" method="POST">
            <input type="hidden" id="quizz_id_modify" name="quizz_id" value="">
            <div class="input-group">
                <label for="quizz_name">Nom du quizz</label>
                <input type="text" id="quizz_name_modify" name="quizz_name" placeholder="Nom du quizz" required>
            </div>
            
            <div class="input-group">
                <label for="quizz_emoji">Emoji</label>
                <input type="text" id="quizz_emoji_modify" name="quizz_emoji" placeholder="Emoji" maxlength="2">
            </div>
            
            <div class="input-group">
                <label>Couleur</label>
                <div class="color-container">
                    <div>
                        <input type="radio" id="color1_modify" name="quizz_color" value="#FFFBF2" required>
                        <label for="color1_modify">
                            <span class="color-circle" style="background-color: #FFFBF2;"></span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="color2_modify" name="quizz_color" value="#FFF5E1" required>
                        <label for="color2_modify">
                            <span class="color-circle" style="background-color: #FFF5E1;"></span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="color3_modify" name="quizz_color" value="#FAF3DD" required>
                        <label for="color3_modify">
                            <span class="color-circle" style="background-color: #FAF3DD;"></span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="color4_modify" name="quizz_color" value="#F3E8EE" required>
                        <label for="color4_modify">
                            <span class="color-circle" style="background-color: #F3E8EE;"></span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="color5_modify" name="quizz_color" value="#E8F8F5" required>
                        <label for="color5_modify">
                            <span class="color-circle" style="background-color: #E8F8F5;"></span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="color6_modify" name="quizz_color" value="#E3F2FD" required>
                        <label for="color6_modify">
                            <span class="color-circle" style="background-color: #E3F2FD;"></span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="color7_modify" name="quizz_color" value="#F8E8FF" required>
                        <label for="color7_modify">
                            <span class="color-circle" style="background-color: #F8E8FF;"></span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="color8_modify" name="quizz_color" value="#FDF8F5" required>
                        <label for="color8_modify">
                            <span class="color-circle" style="background-color: #FDF8F5;"></span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="color9_modify" name="quizz_color" value="#F0F8FF" required>
                        <label for="color9_modify">
                            <span class="color-circle" style="background-color: #F0F8FF;"></span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="color10_modify" name="quizz_color" value="#FCF5E5" required>
                        <label for="color10_modify">
                            <span class="color-circle" style="background-color: #FCF5E5;"></span>
                        </label>
                    </div>
                </div>
            </div>
            <input type="submit" value="Modifier">
        </form>
    </div>
    <script src="/static/js/home.js"></script>
</body>
</html>